.users {
  position: fixed;
  width: fit-content;
  min-width: 10rem;
  height: fit-content;
  min-height: 2rem;
  max-height: 50rem;
  border-radius: 0 1.5rem 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
}

.addContactSection {
    display: flexbox;
    align-items: center;
}
