.users {
  position: fixed;
  width: fit-content;
  z-index: 200;
  min-width: 10rem;
  height: fit-content;
  min-height: 2rem;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: rgba(41, 26, 75, 0.823);
  padding: 5pt;
  border-radius: 10pt;
}

.addContactSection {
  display: flexbox;
  align-items: center;
}
