.contacts {
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 110, 255, 0.8);
  box-shadow: 0 0 0.25rem #ccc;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.contacts li {
  list-style: none;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.logout {
  display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid coral;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.logout:hover {
  color: #000000;
  background-color: coral;
}

.contact {
  border: none #ccc;
  background-image: none;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.125rem;
  box-shadow: 0 0 20px #ccc;
  width: 15rem;
  height: 3rem;
  letter-spacing: 0.025em;
  cursor: pointer;
  margin: 0.2rem;
  color: black;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
}

.contact .container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  margin-left: 0;
}

.badge {
  box-sizing: border-box;
  padding: 1rem 0.6rem 0.6rem 0.6rem;
  margin: auto;
  background: rgba(218, 153, 153, 0.37);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  max-width: 80%;
  font-size: 20px;
  color: black;
  box-shadow: 0 0 0.4rem #ccc;
  text-align: center;
  margin-right: 0.5rem;
  margin-left: 0;
  display: flex;
}

.badgeImg {
  box-sizing: border-box;
  margin: auto;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  max-width: 80%;
  box-shadow: 0 0 0.4rem #ccc;
  margin-right: 0.5rem;
  margin-left: 0;
}

.contact p {
  color: rgb(141, 141, 141);
}

.contact:hover {
  background-color: rgb(226, 226, 226);
}

.noChat {
  width: 100vh;
  height: 100%;
  background: rgba(78, 32, 202, 0.4);
  box-shadow: 0 0 0.25rem #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0 auto auto;
  box-sizing: border-box;
  border-radius: 1rem;
  color: white;
}

.badgeNotifications {
  box-sizing: border-box;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 0.125rem;
  border-radius: 1rem;
  background: lightblue;
  color: darkblue;
  margin: auto;
  margin-left: 2rem;
}

.profile {
  display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.profile:hover {
  color: #000000;
  background-color: #ffffff;
}
