.contacts {
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 110, 255, 0.8);
  box-shadow: 0 0 0.25rem #ccc;
  overflow-y: auto;
  height: 100%;
}

.contacts li {
  list-style: none;
}

.logout {
  border: none;
  border-color: #ccc;
  background-image: none;
  background-color: rgb(219, 180, 50);
  padding: 0.5rem 1rem;
  border-radius: 1.125rem;
  box-shadow: 0 0 0.25rem #ccc;
  font-family: Red hat Display, sans-serif;
  font-weight: 800;
  height: 2rem;
  margin: auto;
  width: 5rem;
  flex-grow: 0;
  cursor: pointer;
}

.logout:hover {
  background-color: rgb(221, 240, 57);
}

.contact {
  border: none #ccc;
  background-image: none;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.125rem;
  box-shadow: 0 0 20px #ccc;
  width: 15rem;
  height: 3rem;
  letter-spacing: 0.025em;
  cursor: pointer;
  margin: 0.2rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;
}

.contact p {
  color: rgb(141, 141, 141);
}

.contact:hover {
  background-color: rgb(226, 226, 226);
}

.noChat {
  width: 100vh;
  height: 100%;
  background: rgba(78, 32, 202, 0.4);
  box-shadow: 0 0 0.25rem #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0 auto auto;
  box-sizing: border-box;
  border-radius: 1rem;
  color: white;
}

.badge {
  box-sizing: border-box;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 0.125rem;
  border-radius: 1rem;
  background: lightblue;
  color: darkblue;
  margin-left: 2pt;
}
