.messages {
  padding: 1rem;
  background: #f7f7f7;
  flex-shrink: 2;
  overflow-y: auto;
  height: 80%;
  font-size: 20px;
}

.chat {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 0;
  width: 100vh;
  height: 100%;
  box-sizing: border-box;
  border-radius: 1rem;
  color: black;
  background: rgb(255, 255, 255, 40%);
  box-shadow: 0 0 0.25rem #ccc;
}
