body,
html {
  font-family: Red Hat Display, sans-serif;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.025em;
  color: white;
  background: #f7f7f7;
  height: 100%;
  width: auto;
  background-color: #7a41e2ea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

input, textarea, button {
  border: none;
  background-image: none;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 1.125rem;
  box-shadow: 0 0 0.25rem #573b8a;

  font-family: Red hat Display, sans-serif;
  font-weight: 600;
  letter-spacing: 0.025em;
}

input {
  flex-grow: 1;
}

textarea {
  flex-grow: 2;
}

input:hover, button:hover {
  background-color: cornsilk;
  cursor: pointer;
}

.danger {
   background-color: rgb(223, 105, 105);
}

.danger:hover {
  background-color: red;
}

button {
  font-family: Red Hat Display, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  text-decoration: none;
}
